# compiled output
/dist
/temp
/build

# unwanted assets
/docs
CONTRIBUTING.md

# dependencies
/node_modules

# OS
.DS_Store

# config
/.vscode

# git
/.git
.gitignore
/.github

# docker
.dockerignore
docker-compose*.yaml

# secrets
*.env
